.certificationContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.certification {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
    animation-name: certificationAnimation;
    animation-duration: 1.5s;

}

@keyframes certificationAnimation {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
    
}

.certificationIllustration {
    width: 175px;
    height: 131.25px;
    cursor: pointer;
    animation-name: certificationIllustrationAnimation;
    animation-duration: 1.5s;
}

@keyframes certificationIllustrationAnimation {
    0%{width: 160px;}
    100%{width: 175px;}
}


.renderCertificationContainer {
    position: fixed;
    top: 60px;
    width: 400px;
    height: 300px;
    border-style: solid;
    border-top: none;
    animation-name: renderCertificationAnimation;
    animation-duration: 500ms;
    overflow: hidden;
}


.renderCertificationContainer>img {
    width: 400px;
    animation-name: renderCertificationAnimation;
    animation-duration: 500ms;

}
@keyframes renderCertificationAnimation {
    0%{height: 0px;width: 400px;}
    100%{height: 300px;width: 400px;}
}

.renderCertificationContainer>.closeIcon {
    position: absolute;
    top:15px;
    right: 15px;
    opacity: 100%;
}




.javaScriptAlgorithmsandDataStructures {
    background-image: url('../assets/images/certificationIllustrations/javaScriptAlgorithmsandDataStructures.png');
}

.javaScriptAlgorithmsandDataStructures:hover {
    background-image: url('../assets/images/certificationIllustrations/javaScriptAlgorithmsandDataStructuresColor.png');
    transition-duration: 2.5s;
}

.ingenieroCivil {
    background-image: url('../assets/images/certificationIllustrations/ingenieroCivil.png');
}

.ingenieroCivil:hover {
    background-image: url('../assets/images/certificationIllustrations/ingenieroCivilColor.png');
    transition-duration: 2.5s;
} 




@media screen and (min-width: 700px) {
    .certificationContainer {
        grid-template-columns: repeat(3,1fr);
    }
    .certificationIllustration {
        width: 200px;
        height: 150px;

    }

    @keyframes certificationIllustrationAnimation {
        0%{width: 180px;}
        100%{width: 200px;}
    }

    .renderCertificationContainer {
        width: 600px;
        height: 450px;
    }

    .renderCertificationContainer>img {
        width: 600px;
    }

    @keyframes renderCertificationAnimation {
        0%{height: 0px;width: 600px;}
        100%{height: 450px;width: 600px;}
    }
  }

@media screen and (min-width: 900px) {
    .certificationContainer {
        grid-template-columns: repeat(4,1fr);
    }
  }