.certificationContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.certification {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
    animation-name: certificationAnimation;
    animation-duration: 1.5s;

}

@keyframes certificationAnimation {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
    
}

.certificationIllustration {
    width: 175px;
    height: 131.25px;
    cursor: pointer;
    animation-name: certificationIllustrationAnimation;
    animation-duration: 1.5s;
}

@keyframes certificationIllustrationAnimation {
    0%{width: 160px;}
    100%{width: 175px;}
}


.renderCertificationContainer {
    position: fixed;
    top: 60px;
    width: 400px;
    height: 300px;
    border-style: solid;
    border-top: none;
    animation-name: renderCertificationAnimation;
    animation-duration: 500ms;
    overflow: hidden;
    z-index: 2;
}


.renderCertificationContainer>img {
    width: 400px;
    animation-name: renderCertificationAnimation;
    animation-duration: 500ms;

}
@keyframes renderCertificationAnimation {
    0%{height: 0px;width: 400px;}
    100%{height: 300px;width: 400px;}
}

.renderCertificationContainer>.closeIcon {
    position: absolute;
    top:15px;
    right: 15px;
}


.javaScriptAlgorithmsandDataStructures {
    background-image: url('../assets/images/certificationIllustrations/javaScriptAlgorithmsandDataStructures.png');
}

.javaScriptAlgorithmsandDataStructures:hover {
    background-image: url('../assets/images/certificationIllustrations/javaScriptAlgorithmsandDataStructuresColor.png');
    transition-duration: 1.5s;
}

.ingenieroCivil {
    background-image: url('../assets/images/certificationIllustrations/ingenieroCivil.png');
}

.ingenieroCivil:hover {
    background-image: url('../assets/images/certificationIllustrations/ingenieroCivilColor.png');
    transition-duration: 1.5s;
}

.introduccionAReactJS {
    background-image: url('../assets/images/certificationIllustrations/introduccionAReactJS.png');
}

.introduccionAReactJS:hover {
    background-image: url('../assets/images/certificationIllustrations/introduccionAReactJSColor.png');
    transition-duration: 1.5s;
}

.ecmaScript6Plus {
    background-image: url('../assets/images/certificationIllustrations/ecmaScript6Plus.png');
}

.ecmaScript6Plus:hover {
    background-image: url('../assets/images/certificationIllustrations/ecmaScript6PlusColor.png');
    transition-duration: 1.5s;
}

.asincronismoConJavaScript {
    background-image: url('../assets/images/certificationIllustrations/asincronismoConJavaScript.png');
}

.asincronismoConJavaScript:hover {
    background-image: url('../assets/images/certificationIllustrations/asincronismoConJavaScriptColor.png');
    transition-duration: 1.5s;
} 

.gitYGitHub {
    background-image: url('../assets/images/certificationIllustrations/gitYGitHub.png');
}

.gitYGitHub:hover {
    background-image: url('../assets/images/certificationIllustrations/gitYGitHubColor.png');
    transition-duration: 1.5s;
}

.npm {
    background-image: url('../assets/images/certificationIllustrations/npm.png');
}

.npm:hover {
    background-image: url('../assets/images/certificationIllustrations/npmColor.png');
    transition-duration: 1.5s;
}

.advancedEnglishCourseForDevelopers {
    background-image: url('../assets/images/certificationIllustrations/advancedEnglishCourseForDevelopers.png');
}

.advancedEnglishCourseForDevelopers:hover {
    background-image: url('../assets/images/certificationIllustrations/advancedEnglishCourseForDevelopersColor.png');
    transition-duration: 1.5s;
}

.expresionesRegulares {
    background-image: url('../assets/images/certificationIllustrations/expresionesRegulares.png');
}

.expresionesRegulares:hover {
    background-image: url('../assets/images/certificationIllustrations/expresionesRegularesColor.png');
    transition-duration: 1.5s;
}

.mobileFirst {
    background-image: url('../assets/images/certificationIllustrations/mobileFirst.png');
}

.mobileFirst:hover {
    background-image: url('../assets/images/certificationIllustrations/mobileFirstColor.png');
    transition-duration: 1.5s;
} 

.javaScriptPractico {
    background-image: url('../assets/images/certificationIllustrations/javaScriptPractico.png');
}

.javaScriptPractico:hover {
    background-image: url('../assets/images/certificationIllustrations/javaScriptPracticoColor.png');
    transition-duration: 1.5s;
}

.htmlYCss {
    background-image: url('../assets/images/certificationIllustrations/htmlYCss.png');
}

.htmlYCss:hover {
    background-image: url('../assets/images/certificationIllustrations/htmlYCssColor.png');
    transition-duration: 1.5s;
}

.frontendDeveloperPractico {
    background-image: url('../assets/images/certificationIllustrations/frontendDeveloperPractico.png');
}

.frontendDeveloperPractico:hover {
    background-image: url('../assets/images/certificationIllustrations/frontendDeveloperPracticoColor.png');
    transition-duration: 1.5s;
}

.frontendDeveloper {
    background-image: url('../assets/images/certificationIllustrations/frontendDeveloper.png');
}

.frontendDeveloper:hover {
    background-image: url('../assets/images/certificationIllustrations/frontendDeveloperColor.png');
    transition-duration: 1.5s;
}

.cssGridYFlexbox {
    background-image: url('../assets/images/certificationIllustrations/cssGridYFlexbox.png');
}

.cssGridYFlexbox:hover {
    background-image: url('../assets/images/certificationIllustrations/cssGridYFlexboxColor.png');
    transition-duration: 1.5s;
}

.cssGridLayout {
    background-image: url('../assets/images/certificationIllustrations/cssGridLayout.png');
}

.cssGridLayout:hover {
    background-image: url('../assets/images/certificationIllustrations/cssGridLayoutColor.png');
    transition-duration: 1.5s;
}

.javaScriptBasico {
    background-image: url('../assets/images/certificationIllustrations/javaScriptBasico.png');
}

.javaScriptBasico:hover {
    background-image: url('../assets/images/certificationIllustrations/javaScriptBasicoColor.png');
    transition-duration: 1.5s;
}



@media screen and (min-width: 700px) {
    .certificationContainer {
        grid-template-columns: repeat(3,1fr);
    }
    .certificationIllustration {
        width: 200px;
        height: 150px;

    }

    @keyframes certificationIllustrationAnimation {
        0%{width: 180px;}
        100%{width: 200px;}
    }

    .renderCertificationContainer {
        width: 600px;
        height: 450px;
    }

    .renderCertificationContainer>img {
        width: 600px;
    }

    @keyframes renderCertificationAnimation {
        0%{height: 0px;width: 600px;}
        100%{height: 450px;width: 600px;}
    }
  }

@media screen and (min-width: 900px) {
    .certificationContainer {
        grid-template-columns: repeat(4,1fr);
    }
  }