.darkModeButton {
    width: 50px;
    height: 50px;
    position: fixed;
    cursor: pointer;
    top: 90%;
    right: 20px;
    z-index: 2;
}

.darkModeButtonLight {
    background-image: url('../assets/icons/darkModeIcon.png');
}

.darkModeButtonDark {
    background-image: url('../assets/icons/darkModeIconDark.png');
}

@media (prefers-reduced-motion: no-preference) {
    .darkModeButtonLight {
      animation: darkModeButtonLight-spin infinite 10s linear;
    }
}
  
@keyframes darkModeButtonLight-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .darkModeButtonDark {
      animation: darkModeButtonDark-spin infinite 10s linear;
    }

}
  
@keyframes darkModeButtonDark-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}


@media screen and (min-width: 900px) {

    @media (prefers-reduced-motion: no-preference) {

        .darkModeButtonLight:hover {
            animation: darkModeButtonLightHover-spin 1 300ms linear;
        }
    }

    @keyframes darkModeButtonLightHover-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }

    @media (prefers-reduced-motion: no-preference) {

        .darkModeButtonDark:hover {
            animation: darkModeButtonDarkHover-spin 1 300ms linear;
        }
    }

    @keyframes darkModeButtonDarkHover-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(-360deg);
        }
    }
}