.darkModeButton {
    width: 50px;
    height: 50px;
    background-image: url('../assets/icons/darkModeIcon.png');
    position: absolute;
    cursor: pointer;
    top: 90%;
    right: 20px;
    z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
    .darkModeButtonLight {
      animation: darkModeButtonLight-spin infinite 10s linear;
    }

    .darkModeButtonLight:hover {
        animation: darkModeButtonLightHover-spin 1 300ms linear;
    }
}
  
@keyframes darkModeButtonLight-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes darkModeButtonLightHover-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .darkModeButtonDark {
      animation: darkModeButtonDark-spin infinite 10s linear;
    }

    .darkModeButtonDark:hover {
        animation: darkModeButtonDarkHover-spin 1 300ms linear;
    }
}
  
@keyframes darkModeButtonDark-spin {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(540deg);
    }
}

@keyframes darkModeButtonDarkHover-spin {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(-90deg);
    }
}
