.filterButton {
    width: 40px;
    height: 30px;
    font-family: var(--mainFont);
    font-size: 0rem;
    border-radius: 6px 2px 0px 0px;
    cursor: pointer;
    opacity: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

.filterButton:hover, .filterButton:focus {
    opacity: 100%;
    width: 200px;
    transition-duration: 400ms;
    font-size: 1.6rem;
}

.darkModeFilter {
    background-color: hsl(var(--darkColor));
    color: hsl(var(--lightColor));
    border: 2px solid hsl(var(--lightColor),40%);
}

.lightModeFilter {
    background-color: hsl(var(--lightColor));
    color: hsl(var(--darkColor));
    border: 2px solid hsl(var(--darkColor),40%);

}

.filterIcon {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.filterIconDark {
    background-image: url('../assets/icons/filterIconDark.png');
}

.filterIconLight {
    background-image: url('../assets/icons/filterIconLight.png');
}


.filterSkillsContainer {
    width: 200px;
    position: absolute;
    height: 300px;
    top:30px;
    right: 0px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    gap: 7px;
    animation-name: filterSkillsContainerAnimation;
    animation-duration: 350ms;
}

.filterSkillsContainer>div:last-child {
    opacity: 60%;

}

@keyframes filterSkillsContainerAnimation {
    0%{height: 0px;}
    100%{height:300px;}
}


.filterSkillsContainer>.closeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font-size: 2rem;
}


.inactive {
    display: none;
  }

@media screen and (min-width: 700px) {
    .filterButton {
        width: 100px;   
        font-size: 1.6rem;
    }

}