/* Styles for the form section */
.formSection {
    width: 300px;
    height: 400px;
    border-style: solid;
    border-width: 2px;
    padding: 25px;
    position: relative;
  }
  
  /* Styles for the form element */
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Styles for the contact me title */
  .contactMeTitle {
    text-align: left;
    font-size: 1.6rem;
  }
  
  /* Styles for the form input elements */
  .formInput {
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 2px;
    font-family: var(--mainFont);
    font-size: 1.4rem;
    opacity: 75%;
  }
  
  /* Styles for the text area input */
  .textArea {
    height: 160px;
    resize: none;
  }
  
  /* Styles for the form submit button */
  .formButton {
    height: 40px;
    cursor: pointer;
    width: 37.5%;
    align-self: flex-end;
    font-size: 1.4rem;
    translate: 0px -7.5px; /* Typo? Should it be 'transform'? */
  }
  
  /* Hover style for the form input */
  .formInput:hover {
    opacity: 100%;
  }
  
  /* Styles for error messages */
  .error {
    color: crimson;
    position: absolute;
    left: 35px;
  }
  
  /* Positioning for error message related to name input */
  .errorName {
    top: 95px;
  }
  
  /* Positioning for error message related to email input */
  .errorEmail {
    top: 145px;
  }
  
  /* Positioning for error message related to message input */
  .errorMessage {
    top: 325px;
  }
  
  /* Styles for form inputs in light and dark modes */
  @each $mode in light, dark {
    .#{$mode}ModeformInput {
      background-color: hsl(var(--#{$mode}Color));
      color: hsl(var(--#{$mode}InverseColor));
      border: 2px solid hsl(var(--#{$mode}InverseColor),40%);
    }
  
    .#{$mode}ModeformInput::placeholder {
      color: hsl(var(--#{$mode}InverseColor));
    }
  }
