.navBarMobile {
    padding: 0px 15px;
    font-size: 1.4rem;
    gap: 5px;
}

.burgerIcon {
    width: 31px;
    height: 40px;
    display: inline-block;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.burgerIconLight {
    background-image: url('../assets/icons/burgerIcon.png');
}

.burgerIconLight:hover {
    background-image: url('../assets/icons/favicon.png');
    cursor: pointer;
}

.sfccPicture {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../assets/images/sfccPicture.png');
    border-radius: 50%;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}