.navBarMobile {
    padding: 0px 15px;
    font-size: 1.3rem;
}

.burgerIcon {
    width: 39px;
    height: 50px;
    display: inline-block;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.burgerIconLight {
    background-image: url('../assets/icons/burgerIcon.png');
}

.burgerIconLight:hover {
    background-image: url('../assets/icons/favicon.png');
    cursor: pointer;
}