.navBar {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    position: fixed;
    top: 0px;
    padding: 0px 15px;
    font-size: 1.4rem;
    gap: 5px;
    z-index: 10;
}

span {
    display: inline-block;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;


}

.burgerIcon {
    width: 31px;
    height: 40px;
    cursor: pointer;
    animation-name: burgerIconAnimation;
    animation-duration: 350ms;
}

@keyframes burgerIconAnimation {
    0% {width: 5px;opacity: 25%;translate: 15px;}
    100% {width: 31px;opacity: 100%;}  
  }

.burgerIconLight {
    background-image: url('../assets/icons/burgerIconMobileLight.png');
}

.burgerIconDark {
    background-image: url('../assets/icons/burgerIconMobileDark.png');
}

.sIcon {
    width: 31px;
    height: 40px;
    cursor: pointer;
}

.sIconLight {
    background-image: url('../assets/icons/sIconMobileLight.png');
}

.sIconDark {
    background-image: url('../assets/icons/sIconMobileDark.png');
}


.picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation-name: pictureAnimation;
    animation-duration: 2.5s;
}

@keyframes pictureAnimation {
    0% {translate: 100px;background-image: url('../assets/images/sfccPicture.jpg');}
    30% {translate: 0px;background-image: url('../assets/images/sfccPicture.jpg');}
    100% {translate: 0px;background-image: url('../assets/images/sfccPictureBW.jpg');} 
  }

.sfccPictureBW {
    background-image: url('../assets/images/sfccPictureBW.jpg');
    border: 2px solid hsl(var(--darkColor));
}

.sfccPicture {
    background-image: url('../assets/images/sfccPicture.jpg');
    border: 2px solid hsl(var(--lightColor));
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.sFernando {
    text-decoration: none;
}

@media screen and (min-width: 900px) {
    .navBar{
        padding: 0px 20px;
        font-size: 2.5rem;
        gap: 10px;
    }

    .burgerIconLight {
        background-image: url('../assets/icons/burgerIconLight.png');
    }
    
    .burgerIconLight:hover {
        background-image: url('../assets/icons/sIconLight.png');
        transition-duration: 1s;
    }
    
    .sIconLight {
        background-image: url('../assets/icons/sIconLight.png');
    }
    
    .sIconLight:hover {
        background-image: url('../assets/icons/burgerIconLight.png');
        transition-duration: 1s;
    }


    .burgerIconDark {
        background-image: url('../assets/icons/burgerIconDark.png');
    }
    
    .burgerIconDark:hover {
        background-image: url('../assets/icons/sIconDark.png');
        transition-duration: 1s;
    }
    
    .sIconDark {
        background-image: url('../assets/icons/sIconDark.png');
    }
    
    .sIconDark:hover {
        background-image: url('../assets/icons/burgerIconDark.png');
        transition-duration: 1s;
    }


    .aboutMe {
        flex-direction: row-reverse;
        font-size: 1.3rem;
        gap:5px
    }
    
    .aboutMe:hover .sfccPictureBW {
        border: 2px solid hsl(var(--lightColor));
        background-image: url('../assets/images/sfccPicture.jpg');
        transition-duration: 1.5s;
    }
    
    .aboutMe:hover .sfccPicture {
        border: 2px solid hsl(var(--darkColor));
        background-image: url('../assets/images/sfccPictureBW.jpg');
        transition-duration: 1.5s;
    }



    .sFernando {
        position: absolute;
        left: 50%;
        translate: -50%;
    }
  
}