.searchInput {
    width: 40px;
    height: 30px;
    padding: 10px;
    border-radius: 2px 6px 0px 0px;
    font-family: var(--mainFont);
    font-size: 0rem;
    opacity: 75%;
}

.searchInput:hover, .searchInput:focus {
    width: 200px;
    transition-duration: 1s;
    font-size: 1.6rem;
}

.searchInput:valid{
    width:180px;
    transition-duration: 1s;
    font-size: 1.6rem;
}

.searchInput:hover {
    opacity: 100%;
}

.searchIcon {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    translate: -26px 6px;
    opacity: 90%;

}

.searchIcon:hover {
    opacity: 100%;
}

@each $mode in light, dark, {

    .#{$mode}ModeInput {
        background-color: hsl(var(--#{$mode}Color));
        color: hsl(var(--#{$mode}InverseColor));
        border: 2px solid hsl(var(--#{$mode}InverseColor),40%);
        border-bottom: none;
    }
    
    .#{$mode}ModeInput::placeholder {
        color: hsl(var(--#{$mode}InverseColor));
    
    }
    
    .#{$mode}SearchIcon {
        background-image: url('../assets/icons/#{$mode}SearchIcon.png');
    }

}

@media screen and (min-width: 700px) {
    .searchInput {
        width: 205px;   
        font-size: 1.6rem;
    }

    .searchInput:focus, .searchInput:hover, .searchInput:valid {
        width: 240px;
    }

}