.searchInput {
    width: 40px;
    height: 30px;
    padding: 10px;
    border-radius: 2px 6px 0px 0px;
    font-family: var(--mainFont);
    font-size: 0rem;
    opacity: 75%;
}

.searchInput:hover, .searchInput:focus, .searchInput:valid{
    width: 200px;
    transition-duration: 1s;
    font-size: 1.6rem;
}

.darkModeInput {
    background-color: hsl(var(--darkColor));
    color: hsl(var(--lightColor));
    border: 2px solid hsl(var(--lightColor),40%);
}

.darkModeInput::placeholder {
    color: hsl(var(--lightColor));

}

.lightModeInput {
    background-color: hsl(var(--lightColor));
    color: hsl(var(--darkColor));
    border: 2px solid hsl(var(--darkColor),40%);

}

.lightModeInput::placeholder {
    color: hsl(var(--darkColor));

}

.searchInput:hover {
    opacity: 100%;
}

.searchIcon {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    translate: -26px 6px;
    opacity: 90%;

}

.searchIconDark {
    background-image: url('../assets/icons/searchIconDark.png');
}

.searchIconLight {
    background-image: url('../assets/icons/searchIconLight.png');
}

.searchIcon:hover {
    opacity: 100%;
}

@media screen and (min-width: 700px) {
    .searchInput {
        width: 205px;   
        font-size: 1.6rem;
    }

    .searchInput:focus, .searchInput:hover {
        width: 240px;
    }

}