.skillContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:15px;
}

.skillIcon {
    animation-name: skillIconAnimation;
    animation-duration: 1.5s;
    cursor: crosshair;
}

@keyframes skillIconAnimation {

    0%{opacity: 0%; width: 20px;}
    100%{opacity: 100%; width: 30px;}
    
}

.HtmlIconLight:hover,.HtmlIconDark:hover {
    background-image: url('../assets/icons/htmlIconColor.png');
    transition-duration: 1.5s;
}

.HtmlIconLight {
    width: 30px;
    height: 34.8px;
    background-image: url('../assets/icons/htmlIconLight.png');
}

.HtmlIconDark {
    width: 30px;
    height: 34.8px;
    background-image: url('../assets/icons/htmlIconDark.png');
}

.CssIconLight:hover,.CssIconDark:hover {
    background-image: url('../assets/icons/cssIconColor.png');
    transition-duration: 1.5s;
}

.CssIconLight {
    width: 30px;
    height: 34.8px;
    background-image: url('../assets/icons/cssIconLight.png');
}

.CssIconDark {
    width: 30px;
    height: 34.8px;
    background-image: url('../assets/icons/cssIconDark.png');
}

.JavaScriptIconLight:hover,.JavaScriptIconDark:hover {
    background-image: url('../assets/icons/javaScriptIconColor.png');
    transition-duration: 1.5s;
}

.JavaScriptIconLight {
    width: 30px;
    height: 34.8px;
    background-image: url('../assets/icons/javaScriptIconLight.png');
}

.JavaScriptIconDark {
    width: 30px;
    height: 34.8px;
    background-image: url('../assets/icons/javaScriptIconDark.png');
}

.ReactIconLight:hover,.ReactIconDark:hover {
    background-image: url('../assets/icons/reactIconColor.png');
    transition-duration: 1.5s;
    animation: reactIcon-spin infinite 25s linear;
}

@keyframes reactIcon-spin {

    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.ReactIconLight {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/reactIconLight.png');
}

.ReactIconDark {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/reactIconDark.png');
}


.ReactIconLight, .ReactIconDark {
    animation-name: reactIconAnimation;
    animation-duration: 1.5s;
}
  
@keyframes reactIconAnimation {

    0%{opacity: 5%; width: 34.8px;}
    100%{opacity: 100%; width: 34.8px;}
    
}

.GitIconLight:hover,.GitIconDark:hover {
    background-image: url('../assets/icons/gitIconColor.png');
    transition-duration: 1.5s;
}

.GitIconLight {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/gitIconLight.png');
}

.GitIconDark {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/gitIconDark.png');
}


.GitHubIconLight:hover, .GitHubIconDark:hover {
    background-image: url('../assets/icons/gitHubIconColor.png');
    transition-duration: 1.5s;
}

.GitHubIconLight {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/gitHubIconLight.png');
}

.GitHubIconDark {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/gitHubIconDark.png');
}


.cvIconLight:hover, .cvIconDark:hover {
    background-image: url('../assets/icons/cvIconColor.png');
    transition-duration: 1.5s;
}

.cvIconLight {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/cvIconLight.png');
}

.cvIconDark {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/cvIconDark.png');
}

.AdobeIconLight:hover, .AdobeIconDark:hover {
    background-image: url('../assets/icons/adobeIconColor.png');
    transition-duration: 1.5s;
}

.AdobeIconLight {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/adobeIconLight.png');
}

.AdobeIconDark {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/adobeIconDark.png');
}

.JsonIconLight:hover, .JsonIconDark:hover {
    background-image: url('../assets/icons/jsonIconColor.png');
    transition-duration: 1.5s;
}

.JsonIconLight {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/jsonIconLight.png');
}

.JsonIconDark {
    width: 34.8px;
    height: 34.8px;
    background-image: url('../assets/icons/jsonIconDark.png');
}



.GitIconLight,.GitIconDark,.GitHubIconLight,.GitHubIconDark,.cvIconLight,.cvIconDark,.AdobeIconLight,.AdobeIconDark,.JsonIconLight,.JsonIconDark {
    animation-name: squareIconAnimation;
    animation-duration: 1.5s;
    cursor: crosshair;
}

@keyframes squareIconAnimation {

    0%{opacity: 0%; width: 20px;}
    100%{opacity: 100%; width: 34.8px;}
    
}