.skillContainer {
    max-width: 315px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
    animation-name: skillContainerAnimation;
    animation-duration: 1.5s;
}

@keyframes skillContainerAnimation {

    0%{flex-wrap:nowrap}
    100%{flex-wrap:nowrap}
    
}

.skillIcon {
    background-size: contain;
    height: 32px;
    width: 32px;
    cursor: crosshair;
    animation-name: skillIconAnimation;
    animation-duration: 1s;
}

@keyframes skillIconAnimation {

    0%{opacity: 0%; height: 20px;}
    100%{opacity: 100%; height: 32px;}
    
}

.HtmlIconLight:hover,.HtmlIconDark:hover {
    background-image: url('../assets/icons/htmlIconColor.png');
    transition-duration: 1.5s;
}

.HtmlIconLight {

    background-image: url('../assets/icons/htmlIconLight.png');
}

.HtmlIconDark {

    background-image: url('../assets/icons/htmlIconDark.png');
}

.CssIconLight:hover,.CssIconDark:hover {
    background-image: url('../assets/icons/cssIconColor.png');
    transition-duration: 1.5s;
}

.CssIconLight {

    background-image: url('../assets/icons/cssIconLight.png');
}

.CssIconDark {

    background-image: url('../assets/icons/cssIconDark.png');
}

.JavaScriptIconLight:hover,.JavaScriptIconDark:hover {
    background-image: url('../assets/icons/javaScriptIconColor.png');
    transition-duration: 1.5s;
}

.JavaScriptIconLight {

    background-image: url('../assets/icons/javaScriptIconLight.png');
}

.JavaScriptIconDark {

    background-image: url('../assets/icons/javaScriptIconDark.png');
}

.ReactIconLight:hover,.ReactIconDark:hover {
    background-image: url('../assets/icons/reactIconColor.png');
    transition-duration: 1.5s;
    animation: reactIcon-spin infinite 25s linear;
}

@keyframes reactIcon-spin {

    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.ReactIconLight {

    background-image: url('../assets/icons/reactIconLight.png');
}

.ReactIconDark {

    background-image: url('../assets/icons/reactIconDark.png');
}


.ReactIconLight, .ReactIconDark {
    animation-name: reactIconAnimation;
    animation-duration: 1.5s;
}
  
@keyframes reactIconAnimation {

    0%{opacity: 5%; width: 32px;}
    100%{opacity: 100%; width: 32px;}
    
}

.GitIconLight:hover,.GitIconDark:hover {
    background-image: url('../assets/icons/gitIconColor.png');
    transition-duration: 1.5s;
}

.GitIconLight {

    background-image: url('../assets/icons/gitIconLight.png');
}

.GitIconDark {

    background-image: url('../assets/icons/gitIconDark.png');
}


.GitHubIconLight:hover, .GitHubIconDark:hover {
    background-image: url('../assets/icons/gitHubIconColor.png');
    transition-duration: 1.5s;
}

.GitHubIconLight {

    background-image: url('../assets/icons/gitHubIconLight.png');
}

.GitHubIconDark {

    background-image: url('../assets/icons/gitHubIconDark.png');
}


.cvIconLight:hover, .cvIconDark:hover {
    background-image: url('../assets/icons/cvIconColor.png');
    transition-duration: 1.5s;
}

.cvIconLight {

    background-image: url('../assets/icons/cvIconLight.png');
}

.cvIconDark {

    background-image: url('../assets/icons/cvIconDark.png');
}

.Adobe-IllustratorIconLight:hover, .Adobe-IllustratorIconDark:hover {
    background-image: url('../assets/icons/adobeIconColor.png');
    transition-duration: 1.5s;
}

.Adobe-IllustratorIconLight {

    background-image: url('../assets/icons/adobeIconLight.png');
}

.Adobe-IllustratorIconDark {

    background-image: url('../assets/icons/adobeIconDark.png');
}

.JsonIconLight:hover, .JsonIconDark:hover {
    background-image: url('../assets/icons/jsonIconColor.png');
    transition-duration: 1.5s;
}

.JsonIconLight {
 
    background-image: url('../assets/icons/jsonIconLight.png');
}

.JsonIconDark {

    background-image: url('../assets/icons/jsonIconDark.png');
}

.ApiIconLight:hover, .ApiIconDark:hover {
    background-image: url('../assets/icons/apiIconColor.png');
    transition-duration: 1.5s;
}

.ApiIconLight {

    background-image: url('../assets/icons/apiIconLight.png');
}

.ApiIconDark {

    background-image: url('../assets/icons/apiIconDark.png');
}

.FigmaIconLight:hover, .FigmaIconDark:hover {
    background-image: url('../assets/icons/figmaIconColor.png');
    transition-duration: 1.5s;
}

.FigmaIconLight {

    background-image: url('../assets/icons/figmaIconLight.png');
}

.FigmaIconDark {

    background-image: url('../assets/icons/figmaIconDark.png');
}

.AutoCADIconLight:hover, .AutoCADIconDark:hover {
    background-image: url('../assets/icons/autoCadIconColor.png');
    transition-duration: 1.5s;
}

.AutoCADIconLight {

    background-image: url('../assets/icons/autoCadIconLight.png');
}

.AutoCADIconDark {

    background-image: url('../assets/icons/autoCadIconDark.png');
}

.SketchUpIconLight:hover, .SketchUpIconDark:hover {
    background-image: url('../assets/icons/sketchUpIconColor.png');
    transition-duration: 1.5s;
}

.SketchUpIconLight {

    background-image: url('../assets/icons/sketchUpIconLight.png');
}

.SketchUpIconDark {

    background-image: url('../assets/icons/sketchUpIconDark.png');
}

.Clip-Studio-PaintIconLight:hover, .Clip-Studio-PaintIconDark:hover {
    background-image: url('../assets/icons/clipStudioPaintIconColor.png');
    transition-duration: 1.5s;
}

.Clip-Studio-PaintIconLight {

    background-image: url('../assets/icons/clipStudioPaintIconLight.png');
}

.Clip-Studio-PaintIconDark {

    background-image: url('../assets/icons/clipStudioPaintIconDark.png');
}