.sfccIcon {
    width: 60%;
    cursor: crosshair;
    animation-name: sfccIconAnimation;
    animation-duration: 1.5s;
}

@keyframes sfccIconAnimation {
    0% {width: 15%;opacity: 0%;}
    100% {width: 30%;opacity: 100%;}  
}

.sfccIcon:hover {
    scale: 1.3;
    transition-duration: 45s;
}

@media screen and (min-width: 900px) {
    .sfccIcon {
        width: 30%;
    }
}

