*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

:root {
  --darkColor: 213, 17%, 12%;
  --lightColor:192, 15%, 94%;
  --jFont:Verdana, Tahoma, sans-serif;;
  --mainFont:'Courier New', Courier, monospace;
  --secondFond:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:var(--mainFont);
  background-color: hsl(var(--darkColor));
  padding: 50px 0px;

}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 10rem;
  font-family: var(--mainFont);
}

.lightMode {
  background-color: hsl(var(--lightColor));
  color: hsl(var(--darkColor));
}

.darkMode {
  background-color: hsl(var(--darkColor));
  color: hsl(var(--lightColor));
}

