@font-face {
  font-family: 'KAPITAL';
  src: url('./assets/fonts/KAPITAL.ttf');
}

@font-face {
  font-family: 'Linkin';
  src: url('./assets/fonts/linkin.ttf');
}

@font-face {
  font-family: 'BankGothicBold';
  src: url('./assets/fonts/BankGothicBold.ttf');
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

:root {
  --darkColor: 213, 17%, 12%;
  --lightColor:192, 15%, 94%;
  --jFont:'KAPITAL';
  --mainFont:'BankGothicBold';
  --secondFont:'Linkin';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:var(--mainFont);
  padding: 80px 0px;

}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

h1{
  font-size: 10rem;
  font-family: var(--mainFont);
}

.darkMode {
  background-color: hsl(var(--darkColor));
}

.lightMode {
  background-color: hsl(var(--lightColor));
}

.lightModeComponent {
  color: hsl(var(--darkColor));
  background-color: hsl(var(--lightColor));
  border-color: hsl(var(--darkColor),25%);
}


.darkModeComponent {
  background-color: hsl(var(--darkColor));
  color: hsl(var(--lightColor));
  border-color: hsl(var(--lightColor),25%);
}

.lightModeComponent:hover {
  background-color: hsl(var(--darkColor));
  transition-duration:120s;
}

.darkModeComponent:hover {
  background-color: hsl(var(--lightColor));
  transition-duration:120s;
}

.lightModeElement {
  color: hsl(var(--darkColor));
  border-color: hsl(var(--darkColor),25%);
  animation-name: lightModeTextAnimation;
  animation-duration: 3s;
}

@keyframes lightModeTextAnimation {
  0% {color: hsl(var(--darkColor),0%);}
  100% {color: hsl(var(--darkColor));}
}

.darkModeElement {
  color: hsl(var(--lightColor));
  border-color: hsl(var(--lightColor),25%);
  animation-name: darkModeTextAnimation;
  animation-duration: 3s;
}

@keyframes darkModeTextAnimation {
  0% {color: hsl(var(--lightColor),0%);}
  100% {color: hsl(var(--lightColor));}
}

.lightModeElement:hover {
  color: hsl(var(--darkColor),50%);
  transition-duration: 1s;
}

.darkModeElement:hover {
  color: hsl(var(--lightColor),50%);
  transition-duration: 1s;
}


@media screen and (min-width: 900px) {
  body {
    padding: 100px 0px;
  }
}